.map{
    height: 100%;
    border-radius: 25px;
}

.mapWrapper{
    height: calc(100vh - 200px);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 25px !important;
}