.footerLeft{
    text-align: left;
}

.footerLeft a{
    margin-right: 30px;
    text-decoration: none;
    color: inherit;
    opacity: .5;
    transition: .25s;
} 

.footerLeft span a{
    opacity: 1;
}

.footerLeft span{
    margin-left: 20px;
    opacity: .5;
}

.footerLeft span a:hover, .footerLeft a:hover{
    opacity: .9;
    transition: .25s;
    color: inherit
}

.footerLeft a:last-of-type{
    margin-right: 0px;
}

.footerLeft span:first-of-type::before{
    display: none;
}

.footerRight{
    text-align: right;
    opacity: 0.5;
}

@media only screen and (max-width: 575px) {
    .footerLeft, .footerRight{
        text-align: center;
    }
    .footerLeft{
        margin-bottom: 10px;
    }
}

